*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body
{
    background-color: blanchedalmond;
    display: flex;
    justify-content: left;
    align-items: stretch;
    min-height: 10vh;
}

.ProfileContainer
{
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-width: 1000px;
    min-height: 1000px;
    display: grid;
    grid-template-columns: 1fr 2fr;    
}

.LeftContainer
{
    position: relative;
    background-color: #d0b363;
    padding: 40px;
}

.ProfileText
{
    position: relative;
    color: black;
    font-size: 16px;
    flex-direction: column;
    align-items: left;
    padding-bottom: 20px;
    border-bottom: 1px solid;
    display: flex;
}

.ProfileTextContacts
{
    color: black;
    font-size: 15px;
    font-weight: 600;
    padding-bottom: 20px;
    border-bottom: 3px solid;
}

.RightContainer
{
    position: static;
    background-color: mintcream;
    padding: 50px;
}

.RightProfile
{
    color: black;
    font-size: 18px;
    font-weight: 600;
}
